<!DOCTYPE html>
<html>
<head>
	<title>Facebook</title>
	<h1>Timeline/ Newsfeed</h1>
</head>
<body>
	New users show page
	<ol>To Do:
		<li>Create conditional for sessions_controller.rb to remove site of login form</li>
		<li>Display the blue bar</li>
	</ol>
</body>
</html>